<% changesets.each do |changeset| %>
    <div class="changeset <%= cycle('odd', 'even') %>">
    <p><%= link_to_revision(changeset, changeset.project,
                            :text => "#{l(:label_revision)} #{changeset.format_identifier}") %><br />
        <span class="author"><%= authoring(changeset.committed_on, changeset.author) %></span></p>
    <div class="wiki">
        <%= textilizable(changeset, :comments) %>
    </div>
    <%
    				threshold = Setting.plugin_redmine_gitbranchdisplay[:git_branches_threshold].to_i
    				puts threshold.class

						repository = @project.repository
						if repository.nil?
				      flash.now[:error] = l(:project_no_repository, :name => @project.to_s)
				      render_404
				      return
				    end
				    git_command = "git --git-dir #{repository.url}"

						branches = `#{git_command} branch -r --contains #{changeset.revision}`
						branches_stripped = branches.strip().split('  ').each { |x| x.chomp! }
						tags = `#{git_command} describe #{changeset.revision}`
						tags_stripped = tags.strip().split('  ').each { |x| x.chomp! }
		%>
			<div id="tags">
	    	<p>Closest tag:
					<% if !tags_stripped.empty? %>
							<%= tags_stripped %>
					<% else %>
						No tags found
					<% end %>
				</p>
			</div>

				<div id="branches">
						Commit located on <%= branches_stripped.length %> branches: 
						<% if branches_stripped.length > threshold %>
							<a href="#" class="sort desc" onclick="<%= "Effect.toggle('#{changeset.revision}', 'blind'); return false;" %>">More</a>
						<% end %>

	        <ul>
		        <% branches_stripped[0,threshold].each do |branch| %>
							<li><%= branch %></li>
						<% end %>

						<% if branches_stripped.length > threshold %>
								<div id="<%= "#{changeset.revision}" %>" style="display: none; overflow-x: visible; overflow-y: visible; ">
									
									<% branches_stripped[threshold, branches_stripped.length].each do |branch| %>
										<li><%= branch %></li>
									<% end %>

								</div>
						<% end %>
					</ul>	
    	</div>
    	
    </div>
<% end %>